<app-header-bar></app-header-bar>

<!-- Main -->
<main class="container">
    <br />
    <br />
    <br />
    <br />

    <div class="row">
      <div class="col-md-12">
          <div class="text-center">
              <ul class="list-unstyled">
                  <li>
                      <h2 class="h1 display-4 font-bold">SHoRTeNeD</h2></li>
                  <li>
                      <h5>A easy way to make shorter your url to share and follow its stats</h5>
                  </li>
              </ul>
          </div>
      </div>
    </div>
    <br />
    <br />

    <form>
      <div class="row">
        <div class="col-md-2">
            <label for="basic-url">Days to keep</label>
            <div class="md-form input-group">
              <input  type="number" class="form-control border" aria-label="Days to keep link available"
                      value="1" />
            </div></div>
        <div class="col-md-10">
          <label for="basic-url">URL that will be SHoRTeNeD</label>
          <div class="md-form input-group">
            <input  type="text" class="form-control border" aria-label="URL to SHoRTeN"
                    placeholder="[https://]www.longurl.com/params/" />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-link"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-light btn-lg btn-block">Go!</button>
        </div>
      </div>
    </form>
    
</main>
<!-- /.Main -->

<app-footer-bar></app-footer-bar>