<!-- Footer -->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-light ie-nav fixed-bottom"
            [containerInside]="true" id="topHeader">

  <links>  
    <ul class="navbar-nav">
     <li class="nav-item">
     </li>
     <li class="nav-item">
     </li>
     <li class="nav-item">
     </li>
    </ul>

    <!-- Copyright -->
    <mdb-navbar-brand class="navbar-nav mr-auto">
        <strong>© 2018 Copyright: <a href="https://damianrodriguez.es">@drodmun</a></strong>
    </mdb-navbar-brand>
    <!-- Copyright -->

    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://www.linkedin.com/in/damianrguez" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://twitter.com/daemiean" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://www.instagram.com/drodmun" target="_blank"><i class="fa fa-instagram"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://plus.google.com/u/0/105759414491010298171" target="_blank"><i class="fa fa-google"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://github.com/drodmun" target="_blank"><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="https://gitlab.com/drodmun" target="_blank"><i class="fa fa-gitlab"></i></a>
      </li>
    </ul>

  </links>
</mdb-navbar>
<!-- Footer -->