<!--Footer-->
<div class="mt-3">
    <footer class="page-footer bg-light text-dark grey fixed-bottom mt-auto">
    
        <!--Footer Links-->
        <div class="container py-3">
            <div class="row">
    
                <!--First column-->
                <div class="col-md-6">
                    <!-- Copyright -->
                    <mdb-navbar-brand class="navbar-nav">
                        <strong>© 2018 Copyright: <a href="https://damianrodriguez.es" class="light-blue-text mr-4">@drodmun</a></strong>
                    </mdb-navbar-brand>
                    <!-- Copyright -->
                </div>
                <!--/.First column-->
    
                <!--Second column-->
                <div class="col-md-6 text-md-right">
                    <a href="https://www.linkedin.com/in/damianrguez" target="_blank"><i class="fa fa-linkedin black-text mr-4"></i></a>
                    <a href="https://twitter.com/daemiean" target="_blank"><i class="fa fa-twitter black-text mr-4"></i></a>
                    <a href="https://www.instagram.com/drodmun" target="_blank"><i class="fa fa-instagram black-text mr-4"></i></a>
                    <a href="https://plus.google.com/u/0/105759414491010298171" target="_blank"><i class="fa fa-google black-text mr-4"></i></a>
                    <a href="https://github.com/drodmun" target="_blank"><i class="fa fa-github black-text mr-4"></i></a>
                    <a href="https://gitlab.com/drodmun" target="_blank"><i class="fa fa-gitlab black-text mr-4"></i></a>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->
    </footer>
    <!--/.Footer-->
</div>