Options +FollowSymLinks -Indexes -MultiViews
RewriteEngine On
# RewriteBase /shrtnd/

# Internally rewrite shortened URL requests to de-shortened URL lookup script filepath plus query string
RewriteRule !^/api$ - [L]
RewriteRule ^([\w\d]{4})$ decoder.php?key=$1 [L]